@font-face {
  font-family: Karla;
  src: url('fonts/karla-variable.ttf') format('truetype');
  font-weight: 1 999;
}

@font-face {
  font-family: 'Samurai Bob';
  src: url('fonts/samuraibob.woff2') format('woff2'),
    url('fonts/samuraibob.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Molot';
  src: url('fonts/molot.woff2') format('woff2'),
    url('fonts/molot.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* IE 10+ */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #root {
    font-family: Karla, sans-serif;
    text-align: center;
    margin: 20vh auto;
    font-size: 1.3em;
    font-weight: 600;
  }
  #root::before {
    content: '🦀';
    font-size: 1.5em;
    display: block;
    padding: 20px;
  }
  #root::after {
    display: block;
    content: 'Crab Fit doesn\'t work in Internet Explorer. Please try using a modern browser.';
  }
}
