.skeleton {
  opacity: .5;

  & > div:last-of-type {
    height: 382px;
    width: 300px;
    border: 2px solid currentColor;
    border-radius: 3px;
    margin-block: 2px 10px;
    position: relative;
  }
}

.dayLabels {
  display: flex;
  justify-content: space-around;

  span {
    height: .9em;
    display: block;
    width: 3ch;
    background: currentColor;
    border-radius: .2em;
  }
}

.dateLabels {
  font-size: 12px;
  margin-block-end: 3px;

  span {
    width: 5ch;
  }
}
