.content {
  width: 600px;
  margin: 20px auto;
  max-width: calc(100% - 60px);
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap: 1em;
}

.slim {
  margin-block: 10px;
  max-width: calc(100% - 30px);
}
