.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  padding: 6px 0;
  font-size: 1.2em;
  font-weight: bold;
}

.dayLabels {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 2px;

  & label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 0;
    font-weight: bold;
    user-select: none;
    opacity: .7;

    @media (max-width: 350px) {
      font-size: 12px;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 2px;

  & button:first-of-type {
    border-top-left-radius: 3px;
  }
  & button:nth-of-type(7) {
    border-top-right-radius: 3px;
  }
  & button:nth-last-of-type(7) {
    border-bottom-left-radius: 3px;
  }
  & button:last-of-type {
    border-bottom-right-radius: 3px;
  }
}

.date {
  font: inherit;
  color: inherit;
  background: none;
  border: 0;
  margin: 0;
  appearance: none;
  transition: background-color .1s;
  background-color: var(--surface);
  border: 1px solid var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  user-select: none;
  touch-action: none;
  position: relative;

  &:focus-visible {
    outline: var(--focus-ring);
    outline-offset: 2px;
    z-index: 1;
  }

  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }
}

.otherMonth {
  color: var(--tertiary);
}
.today {
  font-weight: 900;
  color: var(--secondary);
}
.selected {
  color: #FFF;
  background-color: var(--primary);

  .otherMonth {
    color: rgba(255,255,255,.5);
  }
}

.warningLabel {
  display: flex;
  padding-block: 0.9em;
  gap: 0.5em;
  align-items: center;
  opacity: .75;
  font-size: .9em;
}
