.wrapper {
  width: 100%;

  & > div {
    display: flex;
    margin-block: 2px;
  }
}

.title {
  display: flex;
  align-items: center;

  & strong {
    margin-right: 1ex;
  }
}

.icon {
  height: 24px;
  width: 24px;
  margin-right: 12px;

  @media (prefers-color-scheme: light) {
    filter: invert(1);
  }
  :global(.light) & {
    filter: invert(1);
  }
}

.linkButton {
  font: inherit;
  color: var(--primary);
  border: 0;
  background: none;
  text-decoration: underline;
  padding: 0;
  margin: 0;
  display: inline;
  cursor: pointer;
  appearance: none;
  border-radius: .2em;

  &:focus-visible {
    outline: var(--focus-ring);
    outline-offset: 2px;
  }
}

.options {
  font-size: 14px;
  padding: 0 0 5px;
}

.checkbox {
  height: 0px;
  width: 0px;
  margin: 0;
  padding: 0;
  border: 0;
  background: 0;
  font-size: 0;
  transform: scale(0);
  position: absolute;

  &:checked + label::after {
    opacity: 1;
    transform: scale(1);
  }
  &[disabled] + label {
    opacity: .6;
  }
  &[disabled] + label::after {
    border: 2px solid var(--text);
    background-color: var(--text);
  }

  & + label {
    display: inline-block;
    height: 24px;
    width: 24px;
    min-width: 24px;
    position: relative;
    border-radius: 3px;
    transition: background-color 0.2s, box-shadow 0.2s;
    cursor: pointer;

    &::before {
      content: '';
      display: inline-block;
      height: 14px;
      width: 14px;
      border: 2px solid var(--text);
      border-radius: 2px;
      position: absolute;
      top: 3px;
      left: 3px;
    }
    &::after {
      content: '';
      display: inline-block;
      height: 14px;
      width: 14px;
      border: 2px solid var(--cal-color, var(--primary));
      background-color: var(--cal-color, var(--primary));
      border-radius: 2px;
      position: absolute;
      top: 3px;
      left: 3px;
      background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMjEsN0w5LDE5TDMuNSwxMy41TDQuOTEsMTIuMDlMOSwxNi4xN0wxOS41OSw1LjU5TDIxLDdaIiAvPjwvc3ZnPg==');
      background-size: 16px;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0;
      transform: scale(.5);
      transition: opacity 0.15s, transform 0.15s;
    }
  }
}

.calendarName {
  margin-left: .6em;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
}

.info {
  font-size: 14px;
  opacity: .6;
  font-weight: 500;
  padding: 14px 0 10px;
}
